
.container {
    display: flex;
    justify-content: center;
}

.container .inner {
    min-width: 700px;
    max-width: 1000px;
}

@media (max-width: 750px) {
    .container .inner {
        min-width: calc(100% - 50px);
    }
}